@import "bourbon";
@import "font-awesome";

body {
  background: #e2ebf3;
}

.body-container {
  max-width: 400px;
  margin: 0 auto;
}

.contact-screen {
  width: 100%;
  border: 1px solid green;
  height: 400px;
}

.top-block {
  width: 100%;
  background-color: lightBlue;
  height: 30%;
}
